 *{
  margin: 0px;
  padding: 0px;
}
html{
  background-repeat: none;
  
}
#body1{
  background-repeat: none;
  background-image: url(z.jpg);
  height: 100%;
  width: 100%;
}
body{
  
  background: silver;
  height: 100%;
  width: 100%;
}
.g{
  border:2px solid black;
padding: 2%;
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
 }
  
body{
  background-image: url(bgm.png);
  background-repeat: no-repeat;
}
img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.h2{
  padding: 10px;
  margin-left: 35%;
  
  font-size: 40px;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.r{
  padding-left: 30%;
}
.l{
  margin-left: 20%;
  white-space: 10%;
}
.k{
  margin-left: 2%;
}
.q{
  margin-left: 10%;
}
.j{
  padding: 1%;
  height: 1%;
  width: 30%;
}
.m{
  margin-left: 35%;
}
.h{
  padding-left: 10%;
}
.tb4 {
    float: right;
    margin-right: 50%;
    margin-left: 10%;
  
    color: #000;
    width: 200px;
    height: 30px;
    box-sizing: border-box;
    padding: 3px 10px 3px 3px;
    -webkit-appearance: textfield;
   
    border: 0px;
    border-radius: 0px;
  
    border-spacing: 3px;
    font-size: 21px;
  
    
}
#usertablebox{
  width: 200px;
  height: 200px;
  background: green;
}
#footer3{
  background: silver;
  margin-top:560px;
  height: 30px;
  color:black;
  padding-top: 5px;
}
#header{
  background: navy;
  height: 30px;
  width: 100%;
}
#header1{
  background:white;
  height: 180px;
  width: 0px;
}
#logo1{
  width: 1300px;
  height: 200px;
}

#container{
  
  height:875px;
  width: 100%;
  margin-top: 3%;
  background-image: url(bgm.png);
}
#comments{
  background: silver;
  height:auto;
  width: 100%;
}


#footer{
  background: grey;
  height: 30px;
  width: 100%;
  color: white;
  line-height: 30px;
}
#leftbox{
  background:grey;
  height: 100%;
  float: left;
  width:10%;
}
#rightbox{
  background:silver;
  height: 100%;
  float: right;
  width:90%;
}
#top li{
    list-style-type: none;
    display: inline;
    padding-left:30px; 
    padding-right:10px;
    line-height: 30px;
}
#top1{
  height: 0px;
  background: white;
}
#top1 li{
    list-style-type: none;
    display: inline;
    padding-left:30px; 
    
    padding-right:10px;
    line-height: 30px;
}
#top li a{
  text-decoration: none;
  font-weight: bold;
  color: white;
  
}
#hi{
  margin-top: 10px;
    height: 10px;
}
#container1 h3{
              
              padding-left: 700px;
              padding-bottom: 10px;
              font-family: Algerian;
              font-size: 50px;
}
#top1 fieldset{
  width: 300px;
    padding-top: 2px;
    border-color: black;
    margin-left: 1000px;
       background: #cccccc;
}

#top1 li a{
  text-decoration: none;
  font-weight: bold;
    
  color: black;
  font-size: 25px;
  
}
#top li a:hover{
       color: silver;
}
#hover a:hover{
  color:navy;
}
#sign{
text-weight:bold;
font-size: 30px;
color:black;
padding-left: 100px;
line-height:30px;
padding-top: 40px;
font-family:Eras Bold ITC;
  }
#signin{
    height:500px;
    color:black;
    width: 450px;
    margin-left: 500px;
    margin-top: 40px;
    border-color:black;

  }
  #signin1{
    height:500px;
    color:black;
    width: 450px;
    margin-left: 500px;
    margin-top: 25px;
    border-color:black;

  }
#signin legend,#signin1 legend{
  margin-left: 25px;
  color:black;
  font-size: 20px;
     margin-color:navy;
     border-color:black;

}
#help{
  
  font-size: 30px;

}
#color input:hover{
  color:navy;
  background: white;
}
#color input[type="submit"],#color input[type="reset"]
{
  width: 70px;
  height: 23px;

}

.error{
  color: red;

}
#signin textarea{
  width: 175px;
  resize: none;
}
.correct{
  color: green;
}
#s,#r{
  color: white;
  background: navy;
  border-color: navy;
}

#color input[type="reset" ]:active{
  color: white;
  background:black;
  border-color: black;
}
#color input[type="submit"]:active{
  color: white;
  background:black;
  border-color: black;
}
#help1{
  
  font-size: 20px;
  height: 30px;
  padding-left: 25px;
  top: 10px;
  bottom: 1000px;
  color: white;
  background: navy;
  margin-right: 800px;
    margin-left: 174px;
    margin-top: 30px;
    border-radius: 5px;
}
#help2{
  
  font-size: 20px;
  height: 30px;
  padding-left: 25px;
  top: 10px;
  bottom: 1000px;
  color: white;
  background: navy;
  margin-right: 820px;
    margin-left: 174px;
    margin-top: 30px;
    border-radius: 5px;
}
#help3{
  
  font-size: 20px;
  height: 30px;
  padding-left: 25px;
  top: 10px;
  bottom: 1000px;
  color: white;
  background: navy;
  margin-right: 820px;
    margin-left: 174px;
    margin-top: 30px;
    border-radius: 5px;
}
#help4{
  
  font-size: 20px;
  height: 30px;
  padding-left: 25px;
  top: 10px;
  bottom: 1000px;
  color: white;
  background: navy;
  margin-right: 1050px;
    margin-left: 174px;
    margin-top: 30px;
    border-radius: 5px;
}
#help5{
  
  font-size: 20px;
  height: 30px;
  padding-left: 25px;
  top: 10px;
  bottom: 1000px;
  color: white;
  background: navy;
  margin-right: 820px;
    margin-left: 170px;
    margin-top: 30px;
    border-radius: 5px;
}
#help6{
  
  font-size: 20px;
  height: 30px;
  padding-left: 25px;
  top: 10px;
  bottom: 1000px;
  color: white;
  background: navy;
  margin-right: 1000px;
    margin-left: 174px;
    margin-top: 30px;
    border-radius: 5px;
}
#help7{
  background: silver;
  margin-left: 600px;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 500px;
  
}
#help9 h3{
     color: black;

}
#help9{
  
  font-size: 20px;
  height: 30px;
  padding-left: 25px;
  top: 10px;
  bottom: 1000px;
  color: white;
  background: grey;
  margin-right: 1050px;
    margin-left: 1074px;
    margin-top: 100px;
  
    width: 70px;

    text-decoration: none;

}
#container a{
  
  font-size: 20px;
  color: white;
  text-decoration: none;
  

  }
#edit{
     background:skyblue;
  right:1000px;
  height: 40px;
  width: 250px;
}
#img2{
  margin-left: 900px;
  margin-top: 300px;
}
#usertable tr td,#usertable1 tr td{
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
  height: 100px;
}
#usertable tr td a,#usertable1 tr td a{
  padding: 10px;
  color: black;
}
#usertable tr td input{
  height: 250px;
  width: 200px;
}


#feedback{
  height: 100%;
  width: 100%;
  
   background-image:url(imgs2.jpg);

  
}
#footer1{
  background: navy;
  height: 30px;
  width: 100%;
  color: white;
  margin-top: 300px;
  line-height: 30px;
}
#blogimg{
  padding-top: 40px;
  margin:10px;
  height: 200px;
  width: 300px;
  float: left;
  text-align: justify;
}
#loginimage{
  margin-left: 150px;
  margin-top: 60px;
}